body{
    background-color: rgb(30, 29, 30);
    padding:0;
    margin:0;
}
input[type="file"]{
    display:none;
}
input[type="submit"]{
    display:none;
}
.files label{
    color:rgb(7, 0, 0);
    height:60px;
    width: 250px;
    background-color: rgb(243, 209, 16);
    position:absolute;
    margin:auto;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    font-size: 20px;
    font-weight:bolder;
    display:flex;
    justify-content: center;
    align-items: center;
}
.submits label{
    color:rgb(7, 0, 0);
    height: 50px;
    width: 200px;
    background-color: rgb(109, 18, 68);
    position:absolute;
    margin:auto;
    top:1;
    bottom: 0;
    left:0;
    right:0;
    font-size: 20px;
    font-weight:bolder;
    display:flex;
    justify-content: center;
    align-items: center;
}
